body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.game-cont{
  text-align: center;
}

.img_game {
  margin: auto;
  width: 230px;
  height: 325px;
  padding: 20px 20px;
}

.VR_viewer {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
